body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-decoration: underline; */
    background-color: lightblue;
}

.btn {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 45%;
    margin: 1rem; 
}

.btn-container {
    display: flex;
    justify-content: center;
}

h3{
    align-items: center;
    display: flex;
    font-size: 40px;
    text-decoration: none;
}

.red {
    background-color: red;
}

.green {
    background-color: rgb(9, 205, 9);
}

.blue {
    background-color: rgb(27, 174, 227);
}

.yellow {
    background-color: yellow;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: palevioletred;
    /* height: 195px;
    width: 195px; */
    border-radius: 50%;
}

.des{
    /* width: 700px;
    margin-left: 400px; */
    font-size: 20px;
    font-style: italic;
    color: brown;
}

@media(max-width:515px){
    .btn {
        height: 150px;
        width: 150px;
        margin: 0.5rem;
    }
}